body {
  background-color: #dd272d;
  background-image: url(liverbird.png);
  background-repeat: repeat;
  background-size: 100px;
  
}

.navbar {
  border-top: 5px solid #e8e8e8;
  border-bottom: 5px solid #e8e8e8;
  border-left: 3px solid #e8e8e8;
  border-right: 3px solid #e8e8e8;
}

.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.5vw;
  padding-right: 15px;
  border-right: 1px solid #e8e8e8;
  
}

.right {
  margin-right: 5px;
}

.left {
  margin-right: 25px;
}

.jumbotron {
  background-image: url("download.jpeg");
  background-size: cover;
  padding: 24rem 1rem;
  text-align: center;
  color: #dcdcdc;
  padding-top: 25px;
}

.card {
  width:16rem;
  height:22.5rem;
  float: left;
  margin: 10px;
  font-size: .75em; 
  border: 3px solid #dcdcdc;
}

.card-img-top {
  width: 40%;
  margin-left: 75px;
}

a {
  color: #dd272d;
}

.save {
  position: absolute;
  bottom: 10px;
  left: 95px;
  font-size: .75rem;
  margin-bottom: 10px;
}


/* #comments {
  float: right;
  width: 30%;
} */
textarea,
input {
  display: block;
  width: 100%;
  background-color: #dcdcdc;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

.footer {
  background-color: #dcdcdc;
  text-align: center;
}
